@layer components{
    .co_hover{
        @apply  cursor-pointer transition duration-250 
    }
    .text_color {
        @apply text-[#ff8716]
    }
    .hover_text_color {
        @apply hover:text-[#ff8716]
    }
    .border{
        @apply border-1 border-[#ff8716]
    }
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}
.color{
    background-color: #ff8716;
}
.mhover:hover{
    background-color: #ed7b0f;
}
.on{
    color: #ff8716;
}
.collect{
    width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
@media (min-width:768px){
    .collect{
        width: 750px;
    }
}
@media (min-width:992px){
    .collect{
        width: 950px;
    }
}
@media (min-width:1200px){
    .collect{
        width: 1150px;
    }
}
@media (min-width:1350px){
    .collect{
        width: 1300px;
    }
}
@media (min-width:1600px){
    .collect{
        width: 1400px;
    }
}

.header{
    box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.082);
}
.up{
    perspective: 500px;
}
.move:hover{
    transform: translate3d(0, 0 ,26px);
    -webkit-transform: translate3d(0, 0 ,26px);
    -moz-transform: translate3d(0, 0 ,26px);
    -ms-transform: translate3d(0, 0 ,26px);
    -o-transform: translate3d(0, 0 ,26px);
}
.moveB:hover{
    transform: translate3d(0, 0 ,10px);
    -webkit-transform: translate3d(0, 0 ,10px);
    -moz-transform: translate3d(0, 0 ,10px);
    -ms-transform: translate3d(0, 0 ,10px);
    -o-transform: translate3d(0, 0 ,10px);
}

.menuo{
    transform: translatex(100%);
    -webkit-transform: translatex(100%);
    -moz-transform: translatex(100%);
    -ms-transform: translatex(100%);
    -o-transform: translatex(100%);
    }
.menuo-back{
    transform: translatex(0)!important;
    -webkit-transform: translatex(0)!important;
    -moz-transform: translatex(0)!important;
    -ms-transform: translatex(0)!important;
    -o-transform: translatex(0)!important;
}

.back{
    background-image: url(../../public/img/bg_banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.active{
    opacity: 0.6;
    pointer-events: none;
}
.active2{
    color: red !important;
    font-weight:bold !important;
    border: 1px solid red;
}

.active span{
    display: inline-block;
    padding:8px 20px;
}
.card-list-active{
    transform: translatex(0) !important;
    -webkit-transform: translatex(0) !important;
    -moz-transform: translatex(0) !important;
    -ms-transform: translatex(0) !important;
    -o-transform: translatex(0) !important;
}

.card-shadow{
    box-shadow:0 0 8px 0 rgba(0, 0, 0, 0.116) inset ;
}
.alart{
    position: fixed;
    bottom: 20px;
    right: 22px;
    background-color: #4baec0;
    color: #fff;
    padding: 20px 40px;
    box-shadow: 1px 1px 10px 8px rgba(43, 43, 43, 0.116);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
}
.alart span{
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
    color: #000 !important;
    font-weight: normal;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.alart span:hover{
    color: red !important;
}